
/*Couleurs
    
    Jaune: #fecb00;
    Noir:  #000000;
    Gris:  #525252;
    Blanc: #cfcfcf;
*/
@font-face {
    font-family: "Open_sans";
    src: url("polices/open-sans/OpenSans-Regular.ttf") format("truetype");
}
/*Paramètres généraux*/
body{
    font-family:"Open_sans";
}
.container {
    width: 90%;
    margin: auto;
}
.container1{
    width:90%;
    margin:auto;
}


/*couleur*/

.jaune {
    color: #fecd00;
}
.gris {
    color: #525252;
}
.noir {
    background-color: #525252;
}
.blanc{
    color:#ffffff;
}

/*mise en forme*/

.margin0 {
    margin: 0;
}
img {
    border-radius: 100%;
    border: 5px solid rgba(0, 0, 0,0.15);
    width: 100%;
    height: auto;
    max-width: 186px;
}   
.center {
    text-align: center;
}
.border{
    border-bottom:2px #fecd00 solid;
}
.justify{
    text-align:justify;
}
h1 {
    font-size: 2.6em;
}

h2{
    padding-top:5px;
    padding-bottom:7px;  
}
h3{
    font-size:1.3em;
}
.display2{
    display:flex;
}
.gras{
    font-weight:bold;
}

/*bull eyes*/

#cible{
    margin-top:3px;
}
.cible1 {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px #fecb00 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:12px;
}
.cible2 {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color:#fecb00; 
}


/*header*/

.photo {
    display: flex;
    justify-content:center;
    align-items:center;  
    height: 300px;
    background-color: #fecd00;   
}
#nom{
    text-align:center;
}




/*Main*/

.ville {
    font-size: 0.8em;
    color: #525252;
}
main i{
    padding-right:15px;
}
main h2{
    color:black;
    margin-bottom:40px;
}

/*Footer*/

footer{
    background-color: #fecd00;
    padding-bottom:20px;
}
.log1{
    font-size:0.5em;
}

.log2 {
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 100%;
    border: 1px #525252 solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.log2 i{
    font-size:2em;
}
footer h2{
    background-color: #525252;
}
.display_footer {
    display: flex;
    justify-content: space-between;
}


/*points de rupture*/

@media screen and (min-width: 992px) {

 /*Paramètres généraux*/

 .container{
     width:60%;
     margin:auto;
 }
 .container2{
     width:75%;
     margin:auto;
 }
 
  main {
     width: 67%;
     padding-bottom: 20px;
 }
   
    .display {
        display: flex;      
    }
    #rowreverse {
        flex-direction: row-reverse;
    }
    footer {
        width: 33%;
        flex-direction: column;
        justify-content: space-between;
    }
    .space{
        justify-content:space-between;
    }
  .display_header{
      display:flex;
  }

 /*Header*/
    #nom {
        text-align:left;
        margin-left: 3%;
        padding-top:120px;
    }

    .photo {
        width: 33%;
    }

 /*Main*/

  .form {
     width: 60%;   
}
 /*footer*/
}