
/*Couleurs
    
    Jaune: #fecb00;
    Noir:  #000000;
    Gris:  #525252;
    Blanc: #cfcfcf;
*/

/*Paramètres généraux*/

.container {
    width: 90%;
    margin: auto;
}

/*couleur*/

.jaune {
    color: #fecd00;
}
.gris {
    color: #525252;
}
.noir {
    background-color: #525252;
}
.blanc{
    color:#ffffff;
}

/*mise en forme*/

.margin0 {
    margin: 0;
}
img {
    border-radius: 100%;
    width: 100%;
    height: auto;
    max-width:200px;
    
}   
.center {
    text-align: center;
}
.hobbies{
    display:flex;
    justify-content:space-around;
}
.border{
    border-bottom:1px #fecd00 solid;
}
.justify{
    text-align:justify;
}
h2 i{
    padding-right:20px;
}

/*header*/

.photo {
    display: flex;
    justify-content:center;
    align-items:center;  
    height: 300px;
    background-color: #fecd00;
}

/*Main*/

.ville {
    padding-left: 20px;
    font-size: 0.8em;
    color: #525252;
}

/*Footer*/

footer{
    background-color: #fecd00;
}
.log1{
    font-size:1.5em;
}
.log2 {
    font-size: 1.5em;
    border: 1px #525252 solid;
    border-radius:100%;
    padding:5px;
}
footer h2{
    background-color: #525252;
}
/*points de rupture*/

@media screen and (min-width: 992px) {

 /*Paramètres généraux*/

 .container1{
     width:60%;
 }
  main {
     width: 67%;
     font-size: 75%;
     padding-bottom: 20px;
 }
    footer {
        width: 33%;
        flex-direction: column;
    }
  .display {
     display: flex;
     justify-content: space-between;
}
  #rowreverse {
     flex-direction: row-reverse;    
}
 /*Header*/   
    #nom {
        width: 67%;
        margin: auto;
    }
    h1 {
        padding-top: 20px;
        width: 100%;
        font-size: 2.5em;
    }
    .photo {
        width: 33%;
    }

 /*Main*/

  .form {
     width: 60%;
     padding-left: 20px;
}
 /*footer*/
}